# Informações Pessoais
NEXT_PUBLIC_NAME=Denis Bonate
NEXT_PUBLIC_TITLE=Plataform Engineer && Cloud Architect
NEXT_PUBLIC_DESCRIPTION=Apaixonado por criar soluções inovadoras e experiências digitais excepcionais. Especializado em entrega de produtos em plataforma, arquitetura cloud e tecnologias emergentes.

# Informações de Contato
NEXT_PUBLIC_EMAIL=denis.bonate@exemplo.com
NEXT_PUBLIC_PHONE=+55 (11) 99999-9999
NEXT_PUBLIC_LOCATION=São Paulo, SP - Brasil

# Redes Sociais
NEXT_PUBLIC_LINKEDIN=https://linkedin.com/in/denis-bonate
NEXT_PUBLIC_GITHUB=https://github.com/dbonate
NEXT_PUBLIC_TWITTER=https://x.com/BonateDenis

# Informações Pessoais Detalhadas
NEXT_PUBLIC_AGE=30 anos
NEXT_PUBLIC_EDUCATION=Ciência da Computação
NEXT_PUBLIC_CITY=São Paulo, SP
NEXT_PUBLIC_CITY=Sua Cidade, Estado 