# Informações Pessoais
NEXT_PUBLIC_NAME=Denis Souza Bonate de Oliveira
NEXT_PUBLIC_TITLE=Plataform Engineer && Cloud Architect
NEXT_PUBLIC_DESCRIPTION=Apaixonado por criar soluções inovadoras e experiências digitais excepcionais. Especializado em entrega de produtos em plataforma, arquitetura cloud e tecnologias emergentes.

# Informações de Contato
NEXT_PUBLIC_EMAIL=denis.bonate.oliveira@gmail.com
NEXT_PUBLIC_PHONE=+55 (11) 95173-4326
NEXT_PUBLIC_LOCATION=São Bernardo do Campo, SP - Brasil

# Redes Sociais
NEXT_PUBLIC_LINKEDIN=https://linkedin.com/in/denis-bonate
NEXT_PUBLIC_GITHUB=https://github.com/dbonate
NEXT_PUBLIC_TWITTER=https://x.com/BonateDenis

# Informações Pessoais Detalhadas
NEXT_PUBLIC_AGE=39 anos
NEXT_PUBLIC_EDUCATION=MBA in Artificial Intelligence & Bots Engineering
NEXT_PUBLIC_CITY=São Bernardo do Campo, SP
NEXT_PUBLIC_CITY=Sua Cidade, Estado 